{% extends "Templates/app.twig"%}

{% block pagetitle %}Home{% endblock %}

{% block content %}
<div class='loader' style='display: none' id="loaderr">
  <div class="bg"></div>
  <div class='circle'></div>
  <div class='circle'></div>
  <div class='circle'></div>
  <div class='circle'></div>
  <div class='circle'></div>
</div>

<div class="col-md-8 col-md-push-2 center-block">
<form name="signin">
    <div class="alert alert-dismissible" style="display: none;" id="signinalert">
        <a href="javascript:void(0)" class="close" onclick="getElementById('signinalert').style.display='none'">&times;</a>
        <p><strong id="alertnotice"></strong><span id="alertmessage"></span></p>
    </div>
    <div class="form-group">
    <div class="input-group">
    <span class="input-group-addon">
        <i class="fa fa-envelope"></i>
    </span>
        <input type="email" placeholder="enter your Clockwork email address" id="emailaddress" class="form-control">
    </div>
    </div>
    
    <button type="button" class="btn btn-default btn-lg" name="submit" id="signinbtn">Sign In</button>
    {{ csrf.field | raw }}
</form>
</div>
{% endblock %}