    {% include "Includes/head.twig" %}
    <div class="container">

      {% include "Includes/noticeflash.twig" %}
      {% block content %}{% endblock %}

    </div><!-- /.container -->



</body></html>